.input {
  display: flex;
  width: 90%;
  position: relative;
  align-items: center;
}

.input-box {
  width: 100%;
  border-radius: 50px;
  padding: 18px 28px;
  font-size: 20px;
  transition: 0.2s;
}

.input-box:focus {
  box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0.4);
  outline: none;
}

.btn-input-submit {
  position: absolute;
  width: 48px;
  height: 48px;
  margin: 12px;
  border-radius: 50px;
  /* ชิดขวา */
  right: 0px;
  border: none;
  font-size: 14px;
  background-color: rgb(57, 57, 57);
  color: white;
  transition: 0.2s all;
  box-shadow: 0 0 4px black;
}
.btn-input-submit:hover {
  background-color: rgb(106, 106, 106);
}
.btn-input-submit:active {
  transform: scale(0.8);
  box-shadow: 0 0 2px black;
}
