.input {
  display: flex;
  width: 90%;
  position: relative;
  align-items: center;
}

.input-box {
  width: 100%;
  border-radius: 50px;
  padding: 18px 28px;
  font-size: 20px;
  transition: 0.2s;
}

.input-box:focus {
  box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0.4);
  outline: none;
}

.btn-input-submit {
  position: absolute;
  width: 48px;
  height: 48px;
  margin: 12px;
  border-radius: 50px;
  /* ชิดขวา */
  right: 0px;
  border: none;
  font-size: 14px;
  background-color: rgb(57, 57, 57);
  color: white;
  transition: 0.2s all;
  box-shadow: 0 0 4px black;
}
.btn-input-submit:hover {
  background-color: rgb(106, 106, 106);
}
.btn-input-submit:active {
  transform: scale(0.8);
  box-shadow: 0 0 2px black;
}

.todos {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  flex-wrap: wrap;
  color: white;
}

.todos-single {
  display: flex;
  align-items: center;
  width: 29.5%;
  border-radius: 5px;
  padding: 20px;
  margin-top: 15px;
  background-color: rgba(66, 68, 71, 0.78);
  transition: 0.2s;
}
.todos-single-text {
  flex: 1;
  padding: 5px;
  border: none;
  font-size: 20px;
}

.todos-single-text:focus {
  outline: none;
}

.icon {
  margin-left: 10px;
  font-size: 20px;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .todos-single {
    width: 40%;
  }
}
@media (max-width: 700px) {
  .input {
    width: 95%;
  }
  .todos {
    width: 95%;
  }
  .todos-single {
    width: 100%;
  }
}
